@import "tailwindcss";

body {
  font-family: 'Inter' sans-serif;
  overflow-x: hidden;
}

.light {
  background-color: #f0f0f0;
  color: #333333;
}

.dark {
  background-color: #000;
  color: #e1dcdc;
}
